@model List<CadeteriaMVC.ViewModels.PedidoViewModel>
@{
    ViewData["Title"] = "Listado de pedidos por cliente";
}

            <h1>Listado de pedidos por cliente</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nro</th>
                        <th scope="col">Obs</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Cadete</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Pedido in Model)
                    {
                    <tr>
                        <td scope="row" class="align-middle">@Pedido.Nro</td>
                        <td class="align-middle">@Pedido.Obs</td>
                        <td class="align-middle">@Pedido.IdCliente</td>
                        <td class="align-middle">@Pedido.IdCadete</td>
                        <td class="align-middle">@Pedido.Estado</td>
                        <td class="align-middle">
                            <a class="btn btn-danger btn-sm my-1" asp-controller="Pedidos" asp-action="EditarPedido" asp-route-id="@Pedido.Nro">
                                <svg class="bi" width="18" height="18" fill="currentColor">
                                  <use xlink:href="../../bootstrap-icons/bootstrap-icons.svg#pencil-fill"/>
                                </svg>
                                Editar
                            </a>
                            <a class="btn btn-danger btn-sm my-1" asp-controller="Pedidos" asp-action="EliminarPedido" asp-route-id="@Pedido.Nro" onclick="    return confirm('¿Eliminar definitivamente? ¡Esta acción no se puede deshacer!');">
                                <svg class="bi" width="18" height="18" fill="currentColor">
                                  <use xlink:href="../../bootstrap-icons/bootstrap-icons.svg#trash-fill"/>
                                </svg>
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            