@section Scripts { <partial name="_ValidationScriptsPartial" /> }
@model CadeteriaMVC.ViewModels.Clientes.CrearClienteVM;
@{
    ViewData["Title"] = "Crear cliente";
}

            <h1 class="text-info">@ViewData["Title"]</h1>
            <form asp-controller="Clientes" asp-action="CrearCliente" method="post">
                <div class="form-group row m-2">
                    <label asp-for="@Model.Nombre"></label>
                    <input asp-for="@Model.Nombre" placeholder="Ingrese el nombre" class="form-control"/>
                    <span asp-validation-for="@Model.Nombre" class="alert-warning"></span>
                </div>
                <div class="form-group row m-2">
                    <label asp-for="@Model.Domicilio"></label>
                    <input asp-for="@Model.Domicilio" placeholder="Ingrese la dirección" class="form-control"/>
                    <span asp-validation-for="@Model.Domicilio" class="alert-warning"></span>
                </div>
                <div class="form-group row m-2">
                    <label asp-for="@Model.Referencia"></label>
                    <input asp-for="@Model.Referencia" placeholder="Ingrese la referencia" class="form-control"/>
                    <span asp-validation-for="@Model.Referencia" class="alert-warning"></span>
                </div>
                <div class="form-group row m-2">
                    <label asp-for="@Model.Telefono"></label>
                        <input asp-for="@Model.Telefono" value="" placeholder="Ingrese el teléfono" class="form-control" />  @* El value es necesario para que no aparezca un 0 y se pueda ver el placeholder *@
                    <span asp-validation-for="@Model.Telefono" class="alert-warning"></span>
                </div>
                <div class="form-group row m-2">
                    <input class="btn btn-info bg-gradient mb-2" type="submit" value="Crear cliente">
                    <a asp-controller="Clientes" asp-action="ListadoDeClientes" class="btn btn-info bg-gradient mb-2">Cancelar</a>
                </div>
            </form>
